---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=kline&pair=BIX_ETH&period=1min&size=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - 2623BDF0-766C-48D9-97A3-84D8099276E5
      Etag:
      - W/"1ccbe-hYhD81LN8G1Y+rY45zCTN9qfufk"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"time":1517262180000,"open":"0.001394","high":"0.00140582","low":"0.00138149","close":"0.00138149","vol":"2128.1609"},{"time":1517262240000,"open":"0.00138149","high":"0.0013937","low":"0.00138149","close":"0.00138345","vol":"2862.1438"},{"time":1517262300000,"open":"0.00138207","high":"0.00140026","low":"0.00135541","close":"0.00140026","vol":"4305.5975"},{"time":1517262360000,"open":"0.00140026","high":"0.00140026","low":"0.00139468","close":"0.00139468","vol":"3780.7441"},{"time":1517262420000,"open":"0.00139752","high":"0.00140757","low":"0.00139468","close":"0.00139468","vol":"5504.3984"},{"ti[...]
