---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=market&pair=BIX_ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ca-Request-Id:
      - C257171E-3C2B-4F00-90F1-5A0D2276AE8E
      Etag:
      - W/"144-jXnikimqjjfxWJ7k78COt0BlFMA"
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":2,"coin_symbol":"BIX","currency_symbol":"ETH","last":"0.00130888","high":"0.00145000","low":"0.00128800","change":"-0.00006042","percent":"-4.41%","vol24H":"4444643","amount":"6135.64","last_cny":"9.16","high_cny":"10.15","low_cny":"9.01","last_usd":"1.45","high_usd":"1.60","low_usd":"1.43"},"cmd":"market"}'
  recorded_at: Tue, 30 Jan 2018 15:49:41 GMT
recorded_with: VCR 4.0.0
