---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=marketAll
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - 7ADA0434-33D5-41A0-812F-203D9998828B
      Etag:
      - W/"5244-0BvuaPQq+xDMckYGXWLDUqrjj7U"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":1,"coin_symbol":"BIX","currency_symbol":"BTC","last":"0.00014056","high":"0.00015340","low":"0.00013751","change":"-0.00000180","percent":"-1.26%","vol24H":"4392710","amount":"639.56","last_cny":"9.16","high_cny":"10.00","low_cny":"8.96","last_usd":"1.45","high_usd":"1.58","low_usd":"1.42"},{"id":2,"coin_symbol":"BIX","currency_symbol":"ETH","last":"0.00130722","high":"0.00145000","low":"0.00128800","change":"-0.00006512","percent":"-4.75%","vol24H":"4419040","amount":"6100.24","last_cny":"9.15","high_cny":"10.15","low_cny":"9.02","last_usd":"1.45","high_usd":"1.60","low_usd":"1.43"},{"id":3,"coin_symbol":"GTC","currency_symbol":"BTC","last":"0.00001200","high":"0.00001295","low":"0.00000861","change":"+0.00000080","percent":"+7.14%","vol24H":"1403889","amount":"17.03","las[...]
