---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=ticker&pair=BIX_ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ca-Request-Id:
      - 9BC0D05F-CDE4-48BC-B8C8-F88C16A3F2B6
      Etag:
      - W/"dc-rwduO3k73gBTZCe29SGpGDSTLMY"
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"buy":"0.001313","high":"0.00145000","last":"0.00131535","low":"0.00128800","sell":"0.00131652","timestamp":1517326052886,"vol":"4515795","last_cny":"9.14","last_usd":"1.45","percent":"-2.40%"},"cmd":"ticker"}'
  recorded_at: Tue, 30 Jan 2018 15:27:52 GMT
recorded_with: VCR 4.0.0
