---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=deals&pair=BIX_ETH&size=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - 8746FC1A-BE35-416D-878A-BAB81AD56B8D
      Etag:
      - W/"4606-s2N3nFWxf1bM1s/DaetwmWS5vN8"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"pair":"BIX_ETH","price":"0.00130750","amount":"7.1892","time":1517327735000,"side":1},{"pair":"BIX_ETH","price":"0.00130729","amount":"762.0000","time":1517327665000,"side":2},{"pair":"BIX_ETH","price":"0.00130750","amount":"2.1414","time":1517327620000,"side":1},{"pair":"BIX_ETH","price":"0.00130727","amount":"50.1012","time":1517327610000,"side":1},{"pair":"BIX_ETH","price":"0.00130727","amount":"71.0176","time":1517327609000,"side":1},{"pair":"BIX_ETH","price":"0.00130722","amount":"39.0000","time":1517327552000,"side":1},{"pair":"BIX_ETH","price":"0.00130750","amount":"192[...]
