---
http_interactions:
- request:
    method: post
    uri: https://api.bibox.com/v1/transfer
    body:
      encoding: UTF-8
      string: apikey=API_KEY&cmds=%5B%7B%22cmd%22%3A%22transfer%2FtransferInList%22%2C%22body%22%3A%7B%22page%22%3A1%2C%22size%22%3A10%2C%22filter_type%22%3A0%7D%7D%5D&sign=61188108c010b516aa8ca9ea8a2f313f
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ca-Request-Id:
      - 33FFFD61-5412-47B8-AE4D-F23A5A5272D4
      Etag:
      - W/"36a-F2YBtYh0pRtB1VCtBm0axecDOTY"
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"result":{"count":2,"page":1,"items":[{"user_id":"MASKED_USER_ID","coin_id":44,"to":"MASKED_ADDRESS","coin_symbol":"ETH","confirmCount":"14+","amount":"1.00000000","updatedAt":"2018-01-29T20:42:28.000Z","createdAt":"2018-01-29T20:39:00.000Z","url":"https://www.etherscan.io/tx/MASKED_TX","icon_url":"https://res.linkcoin.pro/coinicon/ETH.png","status":2},{"user_id":"MASKED_USER_ID","coin_id":44,"to":"MASKED_ADDRESS","coin_symbol":"ETH","confirmCount":"14+","amount":"1.29003722","updatedAt":"2018-01-29T18:32:28.000Z","createdAt":"2018-01-29T18:28:54.000Z","url":"https://www.etherscan.io/tx/0xdbe663d762846314f2f28afa38219f311b4a84987be50dc1fe5e21a1c6d43494","icon_url":"https://res.linkcoin.pro/coinicon/ETH.png","status":2}]},"cmd":"transfer/transferInList"}]}'
  recorded_at: Tue, 30 Jan 2018 22:02:07 GMT
recorded_with: VCR 4.0.0
