---
http_interactions:
- request:
    method: post
    uri: https://api.bibox.com/v1/mdata
    body:
      encoding: UTF-8
      string: cmds=%5B%7B%22cmd%22%3A%22api%2Fdepth%22%2C%22body%22%3A%7B%22pair%22%3A%22BIX_ETH%22%2C%22size%22%3A200%7D%7D%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - 3263B066-0C9F-43B8-986F-02D25C89F8CB
      Etag:
      - W/"2867-xdxsgLw2giOV+1cVHTTRhdonEzg"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"result":{"pair":"BIX_ETH","update_time":1517345304052,"asks":[{"price":"0.0013048","volume":"22.7772"},{"price":"0.0013098","volume":"615.4724"},{"price":"0.00131544","volume":"330.2633"},{"price":"0.00131545","volume":"555.5777"},{"price":"0.001341","volume":"1011.2661"},{"price":"0.001345","volume":"66.995"},{"price":"0.001352","volume":"1356.8755"},{"price":"0.00136003","volume":"100"},{"price":"0.00137999","volume":"5"},{"price":"0.00138","volume":"1500"},{"price":"0.001382","volume":"60"},{"price":"0.0013858","volume":"2482.1067"},{"price":"0.0013859","volume":"2042.9726"},{"price[...]
