---
http_interactions:
- request:
    method: get
    uri: https://api.bibox.com/v1/mdata?cmd=depth&pair=BIX_ETH&size=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - B7E752BA-EB70-4256-8103-327BF9AEDDBF
      Etag:
      - W/"297b-cwdyk17u+3qERxfQIUIB0dpxjB4"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"pair":"BIX_ETH","update_time":1517327190443,"asks":[{"price":"0.00131314","volume":"65"},{"price":"0.00131683","volume":"929.6066"},{"price":"0.00132102","volume":"642.9636"},{"price":"0.00132579","volume":"19.5756"},{"price":"0.001328","volume":"1000"},{"price":"0.00133","volume":"1000"},{"price":"0.00133182","volume":"12.9381"},{"price":"0.00133618","volume":"68"},{"price":"0.00133686","volume":"40"},{"price":"0.0013387","volume":"836.6478"},{"price":"0.00133875","volume":"1773.7113"},{"price":"0.00134473","volume":"2.5614"},{"price":"0.00134474","volume":"26.3085"},{"price"[...]
