---
http_interactions:
- request:
    method: post
    uri: https://api.bibox.com/v1/orderpending
    body:
      encoding: UTF-8
      string: apikey=API_KEY&cmds=%5B%7B%22cmd%22%3A%22orderpending%2ForderPendingList%22%2C%22body%22%3A%7B%22page%22%3A1%2C%22size%22%3A10%7D%7D%5D&sign=3b9d50aba11c8b8dd3bbcba2be4e78a3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ca-Request-Id:
      - 02E0023A-B245-4FCF-9309-66488DF4F93D
      Etag:
      - W/"286-U7/ilTUuvXC/SaHZOYmv0D4fvrI"
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"result":{"count":2,"page":1,"items":[{"id":188571145,"createdAt":1517321262000,"account_type":0,"coin_symbol":"HPB","currency_symbol":"ETH","order_side":1,"order_type":2,"price":"0.00721957","amount":"137.9225","money":"0.99574114","deal_amount":"0.0000","deal_percent":"0.00%","status":1,"unexecuted":"137.9225"},{"id":188282152,"createdAt":1517313745000,"account_type":0,"coin_symbol":"ITC","currency_symbol":"ETH","order_side":1,"order_type":2,"price":"0.00285939","amount":"220.0000","money":"0.62906580","deal_amount":"0.0000","deal_percent":"0.00%","status":1,"unexecuted":"220.0000"}]},"cmd":"orderpending/orderPendingList"}]}'
  recorded_at: Tue, 30 Jan 2018 16:09:13 GMT
recorded_with: VCR 4.0.0
