---
http_interactions:
- request:
    method: post
    uri: https://api.bibox.com/v1/transfer
    body:
      encoding: UTF-8
      string: apikey=API_KEY&cmds=%5B%7B%22cmd%22%3A%22transfer%2FcoinList%22%2C%22body%22%3A%7B%7D%7D%5D&sign=2b48c5aa44e042bd320055b9648d616f
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ca-Request-Id:
      - 32B38221-8A95-4370-A5CB-69B3D0989451
      Etag:
      - W/"322e-XB1RhSe2BJNXdf3tIql49/0qLsQ"
      X-Ca-Error-Message:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"result":[{"totalBalance":"0.00000000","balance":"0.00000000","freeze":"0.00000000","id":42,"symbol":"BTC","icon_url":"https://res.linkcoin.pro/coinicon/BTC.png","describe_url":null,"name":"Bitcoin","enable_withdraw":1,"enable_deposit":1,"confirm_count":3,"BTCValue":"0.00000000","CNYValue":"0.00000000","USDValue":"0.00000000"},{"totalBalance":"500.00000000","balance":"500.00000000","freeze":"0.00000000","id":43,"symbol":"BIX","icon_url":"https://res.linkcoin.pro/coinicon/BIX.png","describe_url":null,"name":"BIX
        Token","enable_withdraw":1,"enable_deposit":1,"confirm_count":12,"BTCValue":"0.06941500","CNYValue":"4565.84173415","USDValue":"721.85977385"},{"totalBalance":"0.62906602","balance":"0.00000026","freeze":"0.62906576","id":44,"symbol":"ETH","icon_url":"https://res.linkcoin.pro/coinicon/ETH.[...]
